{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <br></br>
    <h2>{{ title }}</h2>
    <br></br>
    <h3>Body Text</h3>
    <form action="{% url 'wiki/save_edit' %}" id="editpage" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
    </form>
    <textarea form="editpage" name="content">
        {{ content }}
    </textarea>
    <br></br>
    <input type="submit" form="editpage" value="Save Page">
{% endblock %}