{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form action="{% url 'wiki/create' %}" id="newpage" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Enter Page Title">
    </form>
    <br></br>
    <h3>Body Text</h3>
    <textarea form="newpage" name="content"></textarea>
    <br></br>
    <input type="submit" value="Save Page" form="newpage">
{% endblock %}